Atom/
autostart/
cef_user_data/
chromium/
dconf/
deluge/
fontconfig/
freerdp/
gconf/
gtk-2.0/
gtk-3.0/
htop/
Jackbox Games/
oomox/
pulse/
qt5ct/
razercommander/
spotify/
systemd/
terminator/
Thunar/
twmn/
Unknown Organization/
VirtualBox/
vlc/
xarchiver/
xfce4/
zoomus.conf
